 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("-min.jpg");
  background-position: 63.21% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 692px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  width: 770px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 143px auto 0;
}

.u-section-1 .u-text-2 {
  width: 770px;
  margin: 40px auto 0;
}

.u-section-1 .u-text-3 {
  width: 770px;
  margin: 8px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  width: 307px;
  margin: 123px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 571px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 65px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 26px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 102px;
    margin-left: 17px;
    margin-right: 17px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 446px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 27px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 255px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-top: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 259px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin-top: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 255px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 65px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 294px;
  }

  .u-section-2 .u-text-3 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 294px;
  }

  .u-section-2 .u-text-4 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-2 .u-text-1 {
    width: 97px;
    margin-top: 49px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-bottom: 41px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 128px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 31px auto;
  padding: 20px 82px 20px 81px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    margin-top: 14px;
    margin-bottom: 49px;
  }
} .u-section-4 {
  min-height: 588px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 588px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 588px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-2 {
  margin: 28px auto 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 542px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 38px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 485px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 170px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 270px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 113px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 50vw;
}

.u-section-5 .u-image-1 {
  height: 401px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  width: 1141px;
  margin: -227px auto 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(20% - 24px) calc(20% - 24px) calc(20% - 24px) calc(20% - 24px) calc(20% - 24px);
  min-height: 523px;
  grid-gap: 30px 30px;
  grid-auto-columns: calc(20% - 24px);
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-group-1 {
  width: 90px;
  min-height: 90px;
  height: auto;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-5 .u-text-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-5 .u-image-2 {
  height: 238px;
  margin: 59px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-group-2 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  height: auto;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-text-3 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-5 .u-text-4 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-image-3 {
  height: 238px;
  margin: 59px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-group-3 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  height: auto;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-6 {
  padding: 0;
}

.u-section-5 .u-text-5 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-image-4 {
  height: 238px;
  margin: 59px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-group-3 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  height: auto;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-6 {
  padding: 0;
}

.u-section-5 .u-text-5 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-image-5 {
  height: 238px;
  margin: 59px 0 0;
}

.u-section-5 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-container-layout-9 {
  padding: 30px;
}

.u-section-5 .u-group-5 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  height: auto;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-10 {
  padding: 0;
}

.u-section-5 .u-text-9 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-5 .u-text-10 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-image-6 {
  height: 238px;
  margin: 59px 0 0;
}

.u-section-5 .u-text-11 {
  margin: -638px auto 599px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 714px;
  }

  .u-section-5 .u-list-1 {
    width: 940px;
    height: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(5, calc(20% - 24px));
    min-height: 420px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 26px;
    height: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.125rem;
  }

  .u-section-5 .u-image-2 {
    height: 185px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-group-2 {
    margin-top: 26px;
    height: auto;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 17px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.125rem;
  }

  .u-section-5 .u-image-3 {
    height: 185px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-group-3 {
    margin-top: 26px;
    height: auto;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 17px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.125rem;
  }

  .u-section-5 .u-image-4 {
    height: 185px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-group-3 {
    margin-top: 26px;
    height: auto;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 17px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.125rem;
  }

  .u-section-5 .u-image-5 {
    height: 185px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-group-5 {
    margin-top: 26px;
    height: auto;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-top: 17px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.125rem;
  }

  .u-section-5 .u-image-6 {
    height: 185px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-11 {
    width: auto;
    margin-top: -596px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 1157px;
    grid-auto-columns: calc(33.333333333333336% - 20px);
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    height: 250px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    height: 250px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-4 {
    height: 250px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-5 {
    height: 250px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-6 {
    height: 250px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 2019px;
    grid-auto-columns: calc(50% - 15px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    height: 313px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-3 {
    height: 313px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-4 {
    height: 313px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-5 {
    height: 313px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-6 {
    height: 313px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 3718px;
  }

  .u-section-5 .u-image-1 {
    height: 293px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin-top: -146px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 3514px;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-2 {
    height: 401px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 401px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-4 {
    height: 401px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-5 {
    height: 401px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-6 {
    height: 401px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-11 {
    margin-top: -3601px;
  }
}